/* Fix the width of the body */
body {
min-width: 768px;
margin:0 10% 0 10%; /* auto */
padding:0 10% 0 10%;
}

/* Wrapper */
.row {
width:100%;
margin:auto;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.col_full,
.col_12, /* full width */
.col_9, /* 3/4 width */
.col_8, /* 2/3 width */
.col_6, /* half width */
.col_4, /* 1/3 width */
.col_3 /* 1/4 width */
{
	height: auto;
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
	display:table-cell;
	vertical-align:central;
}

/* Column margins */
.col_full,
{
margin-left: 0%;
margin-right:0%;
display: block;
float: none;
}
.col_12, /* full width */
.col_9, /* 3/4 width */
.col_8, /* 2/3 width */
.col_6, /* half width */
.col_4, /* 1/3 width */
.col_3 /* 1/4 width */
{
margin-left: 1.1%;
margin-right:1.1%;
display: inline;
float: left;
}

/* First and Last */
.first {
margin-left:1.1%; /* 0 */
}

.last {
margin-right: 0%;
}

/* Column widths taking into account the margins */
.col_full {width:100%;}
.col_12 {width:97.6%;}
.col_9 {width:72.7%;}
.col_8 {width:64.4%;}
.col_6 {width:47.8%;}
.col_4 {width:31.2%;}
.col_3 {width:22.85%;}
img {width:100%;}

/*****************/
/* MEDIA QUERIES */
/*****************/


/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px) and (max-width: 767px) {
/* Resize the body */
body {min-width:479px;}

/* Resize the row */
.row {width:100%;}

/* Resize the columns */
.col_full {width:100%;
margin-left: 0;
margin-right: 0;
display: block;
float: none;
}
.col_12 {width:96%;}
.col_9 {width:47%;}
.col_8 {width:47%;}
.col_6 {width:47%;}
.col_4 {width:47%; margin-left:0px;}
.col_3 {width:47%; margin-left:0px;}

  /* Column margins */
.col_12, /* full width */
.col_9, /* 3/4 width */
.col_8, /* 2/3 width */
.col_6, /* half width */
.col_4, /* 1/3 width */
.col_3 /* 1/4 width */
{
margin-left: 2.0%;
margin-right: 2.0%;
display: inline;
float: left;
}

.first {
margin-left:2.0%; /* 0 */
}
/* Fix the .last issue */
.last {
margin-left: 2.0%; /* 0 */
margin-right:0%; /* 10px */
}

}

/* Mobile Portrate Screen Sizes */
@media only screen and (max-width: 479px) {
/* Resize the body */
body {min-width:320px;}

/* Resize the row */
.row {width:100%;}

 /* Column margins */
.col_full {width:100%;
margin-left: 0;
margin-right: 0;
display: block;
float: none;
}

.col_12, /* full width */
.col_9, /* 3/4 width */
.col_8, /* 2/3 width */
.col_6, /* half width */
.col_4, /* 1/3 width */
.col_3 /* 1/4 width */
{
margin-left: 1.0%;
margin-right: 0%;
display: inline;
float: left;
}
  
/* Resize the columns */
.col_12 {width:98%;}
.col_9 {width:98%;}
.col_8 {width:98%;}
.col_6 {width:98%;}
.col_4 {width:98%; margin-left:0px;}
.col_3 {width:98%; margin-left:0px;}


/* Fix the .last issue */

.first {
margin-left:1.0%; /* 0 */
}

.last {
margin-left:1.0%; /* 0 */
margin-right:0%;
}
}

.imgbox {
           display: grid;
           height: 100%;
}
.left-fit-page-heading
{
	width: auto;
        max-width: 75%; /* 96% */
        max-height: 55px;
        /* margin: 2% 2%; */
	margin: 0 0;
	padding: 1% 0 1% 0
	text-align: left;
}
