.zoom {

  transition: transform .2s; /* Animation */

}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* Fix the width of the body */
body {
min-width: 768px;
margin: auto; /* auto */
}

/* Wrapper */
.row {
width:100%;
margin:1.0% 0 1.0% 0; /* auto */ 
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.vertical_ad
{
	margin-top:10px;
	margin-bottom: 10px;
}

.article-img-fit {
        max-width: 100%;
	width: 50%;
        max-height: 100vh;
        float: left; 
	margin: 1%; 
	padding: 1%;"
}

.col_full,
.col_12, /* full width */
.col_9, /* 3/4 width */
.col_8, /* 2/3 width */
.col_6, /* half width */
.col_4, /* 1/3 width */
.col_3, /* 1/4 width */
.col_int_full,
.col_int_12, /* full width */
.col_int_9, /* 3/4 width */
.col_int_8, /* 2/3 width */
.col_int_6, /* half width */
.col_int_4, /* 1/3 width */
.col_int_3 /* 1/4 width */
{
	height: auto;
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
	display:table-cell;
	vertical-align:central;
}

/* Column margins */
.col_full,
.col_int_full
{
margin-left: 0%;
margin-right:0%;
display: block;
float: none;
}
.col_12, /* full width */
.col_9, /* 3/4 width */
.col_8, /* 2/3 width */
.col_6, /* half width */
.col_4, /* 1/3 width */
.col_3, /* 1/4 width */
.col_int_12, /* full width */
.col_int_9, /* 3/4 width */
.col_int_8, /* 2/3 width */
.col_int_6, /* half width */
.col_int_4, /* 1/3 width */
.col_int_3 /* 1/4 width */
{
margin-left: 1.0%; /* 1.1% */
margin-right:1.0%; /* 1.1% */
display: inline;
float: left;
}

/* First and Last */
.first {
margin-left:10.0%; /* 1.1% */
}

.last {
margin-right: 0%;
}

/* Column widths taking into account the margins */
.col_full {width:100%;}
.col_12 {width:79.6%;} /* 97.6 */
.col_9 {width:59.2%;} /* 72.7 */
.col_8 {width:52.4%;} /* 64.4 */
.col_6 {width:38.8%;} /* 47.8 */
.col_4 {width:25.2%;} /* 31.2 */
.col_3 {width:18.4%;} /* 22.85 */
.col-fit-img {width:100%;} /* img {width:100%;}; */ 

/* Column widths without the margins */
.col_int_full {width:100%;}
.col_int_12 {width:97.6%;} /* 97.6 */
.col_int_9 {width:72.7%;} /* 72.7 */
.col_int_8 {width:64.4%;} /* 64.4 */
.col_int_6 {width:47.8%;} /* 47.8 */
.col_int_4 {width:31.2%;} /* 31.2 */
.col_int_3 {width:22.85%;} /* 22.85 */
.col-fit-int_img {width:100%;} /* img {width:100%;}; */ 

/*****************/
/* MEDIA QUERIES */
/*****************/


/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px) and (max-width: 767px) {
/* Resize the body */
body {min-width:479px;}

/* Resize the row */
.row {width:100%;}

/* Resize the columns */
.col_full,
.col_int_full	
{width:100%;
margin-left: 0;
margin-right: 0;
display: block;
float: none;
}
	
.col_12 {width:96%;}
.col_9 {width:47%;}
.col_8 {width:47%;}
.col_6 {width:47%;}
.col_4 {width:47%; margin-left:0px;}  /* {width:47%; margin-left:0px;} */
.col_3 {width:47%; margin-left:0px;}   /* {width:47%; margin-left:0px;} */
.col_int_12 {width:96%;}
.col_int_9 {width:47%;}
.col_int_8 {width:47%;}
.col_int_6 {width:47%;}
.col_int_4 {width:47%; margin-left:0px;}  /* {width:47%; margin-left:0px;} */
.col_int_3 {width:47%; margin-left:0px;}   /* {width:47%; margin-left:0px;} */
  /* Column margins */

.col_9, /* 3/4 width */
.col_8, /* 2/3 width */
.col_6, /* half width */
.col_4, /* 1/3 width */
.col_3, /* 1/4 width */
.col_int_9, /* 3/4 width */
.col_int_8, /* 2/3 width */
.col_int_6, /* half width */
.col_int_4, /* 1/3 width */
.col_int_3 /* 1/4 width */
{
margin-left: 2.0%;
margin-right: 2.0%;
display: inline;
float: left;
}

.first {
margin-left:2.0%; /* 0 */
}
/* Fix the .last issue */
.last {
margin-left: 2.0%; /* 0 */
margin-right:0%; /* 10px */
}


}

/* Mobile Portrate Screen Sizes */
@media only screen and (max-width: 479px) {
/* Resize the body */
body {min-width:320px;}

/* Resize the row */
.row {width:100%;}

 /* Column margins */
.col_full,
.col_int_full
{width:100%;
margin-left: 0;
margin-right: 0;
display: block;
float: none;
}

.col_12, /* full width */
.col_9, /* 3/4 width */
.col_8, /* 2/3 width */
.col_6, /* half width */
.col_4, /* 1/3 width */
.col_3, /* 1/4 width */
.col_int_12, /* full width */
.col_int_9, /* 3/4 width */
.col_int_8, /* 2/3 width */
.col_int_6, /* half width */
.col_int_4, /* 1/3 width */
.col_int_3 /* 1/4 width */
{
margin-left: 1.0%;
margin-right: 0%;
display: inline;
float: left;
}
  
/* Resize the columns */
.col_12 {width:98%;}
.col_9 {width:98%;}
.col_8 {width:98%;}
.col_6 {width:98%;}
.col_4 {width:98%;} /* {width:98%; margin-left:0px;} */
.col_3 {width:98%;} /* {width:98%; margin-left:0px;} */
.col_int_12 {width:98%;}
.col_int_9 {width:98%;}
.col_int_8 {width:98%;}
.col_int_6 {width:98%;}
.col_int_4 {width:98%;} /* {width:98%; margin-left:0px;} */
.col_int_3 {width:98%;} /* {width:98%; margin-left:0px;} */

/* Fix the .last issue */

.first {
margin-left:1.0%; /* 0 */
}

.last {
margin-left:1.0%; /* 0 */
margin-right:0%;
}
.article-img-fit {
            width: 100%;
            max-height: 100vh;
            margin: auto;
}
	
}

.imgbox {
        border-radius: 15px 15px 0px 0px;
	display: grid;
        height: 100%;
	margin-top: 10px;
}

.center-fit {
            border-radius: 15px 15px 0px 0px;
	    max-width: 100%;
            max-height: 100vh;
            margin: auto;
}


.left-fit-page-heading
{
	width: auto;
        max-width: 75%; /* 96% */
        max-height: 55px;
        /* margin: 2% 2%; */
	margin: 0 0;
	padding: 1% 0 1% 0;
	text-align: left;
}
